
.exercise-heading {
    text-align: center;
}

.blog-titles .post-heading {
    display: inline;
    padding: auto;
}

h3 {
    font-weight:normal;
    font-size: 25px;
}

.post-meta-footer {
    border-top: rgb(185, 185, 185);
    background-color: rgba(224, 224, 224, 0.507);
    color: grey;
    font-size: smaller;
}

.meta-tag {
    color:rgb(120, 148, 240)
}

.search-box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgba(231, 231, 231, 0.507);
    color: black;
    font-weight:normal;
    font-size: smaller;
    border: 1px solid black;
    border-radius: 0.3rem;
}

.search-heading {
    padding-top: 10px;
}



